<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular-project</title>
    <link rel="stylesheet" href="gestioncomponent.component.css">
</head>
<body>
    <div class="main-content app-content">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><b><i class="si si-layers"></i> Liste des departement</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a id="co" class="nav-item nav-link active"routerLink="compp">Competences<span class="sr-only"></span></a>
                   
                   <a id="dp" class="nav-item nav-link active"routerLink="emp">Employees<span class="sr-only"></span></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <svg id="icon1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#addempModal">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                  </svg>
                    
                    
                </div>
            </div>
           
        </nav>
        
        <!-- Notification alert -->
        <div class="alert alert-success" role="alert" *ngIf="showAlert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>

        <!-- Table -->
        <div class="col-md-12">
            <p class="info">INFO</p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">nom</th>
                        <th scope="col">resposable</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dpts" class="tab-sub">
                        <td>{{item.id}}</td>
                        <td>{{item.nom}}</td>
                        <td>{{item.responsable}}</td>
                        <td>
                            <!-- Action buttons -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click)="deletedp(item.id)" id="del">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" data-bs-toggle="modal" (click)="allocateDep(item)" data-bs-target="#EditModel" id="edi">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal Add emp -->
        <div class="modal fade" id="addempModal" tabindex="-1" role="dialog" aria-labelledby="addTeacherModalName" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTeacherModalName">Ajouter departement</h5>
                        <button #closeModalBtn type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-md-12">
                        <form>
                            <div class="mb-3">
                                <label  for="name" class="form-label">Nom</label>
                                <input required [(ngModel)]="depadd.nom" type="text" class="form-control" name="nom" placeholder="nom" id="name">
                            </div>
                            <div class="mb-3">
                                <label for="responsable" class="form-label">responsable </label>
                                <input required [(ngModel)]="depadd.responsable" type="text" class="form-control" name="responsable" placeholder="responsable" id="responsable">
                            </div>
                            <button class="btn btn-primary" (click)="adddept()">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit -->
        <div class="modal fade" id="EditModel" tabindex="-1" role="dialog" aria-labelledby="addTeacherModalName" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTeacherModalName">Modifier departement</h5>
                        <button #editModalBtn type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body col-md-12">
                        <form>
                            <div class="mb-3">
                                <input  [(ngModel)]="updateDep.id" hidden type="text">
                                <label  for="name" class="form-label">Nom</label>
                                <input   [(ngModel)]="updateDep.nom" type="text" class="form-control" name="nom" placeholder="nom" id="name">
                                <div class="mb-3">
                                  <label for="dpt" class="form-label">responsable </label>
                                  <input required [(ngModel)]="updateDep.responsable" type="text" class="form-control" name="responsable" placeholder="responsable" id="dpt">
                              </div>
                              <button class="btn btn-primary" (click)="editdept()">Update</button>
                            </div>
                            </form>
                    
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
</body>
</html>
